[Unit]
Description=Service to run a Python package in a virtual environment
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/secure-dev-training/secure-dev-training
Environment="PATH=/home/ubuntu/secure-dev-training/secure-dev-training/venv/bin"
ExecStart=/home/ubuntu/secure-dev-training/secure-dev-training/venv/bin/gunicorn -w 4 -b 0.0.0.0:5000 app:app

[Install]
WantedBy=multi-user.target
