#<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Challenge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<template id="flag-submission-template">
        <div class="developer-home__current-flags">
            <h2 class="developer-home__flag-title">
                <span>Challenge 1 - </span></h2>
            <p class="developer-home__flag-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of.</p>
            <div class="completed-notification-container hidden">
                <p class="completed-notification">Challenge has been completed</p>
            </div>
            <input type="hidden" name="flag-id">
        </div>
    </template>
<div class="developer-home__container">
        <div class="developer-home__sub-container">
                <h1 class="developer-home__heading">Online Code Editor</h1>
                <p class="developer-home__subheading">subheading</p>

		<div class="developer-home__flag-progress">
	                <div class="pagination" id="paginated-flags" style="display: none;">
		        </div>
                	<p data-role="flag-progress" class="devleoper-home__flag-progress"></p>
                	<img id="caret-left" class="caret caret--left" src="/static/img/caret.svg" alt="">
               		<img id="caret-right" class="caret caret--right" src="/static/img/caret.svg" alt="">
            	</div>
		<div id="progress-bar-animated" class="developer-home__flag-progress developer-home__flag-progress--animated">
            	</div>
		
		<div class="input-wrapper" style="display: flex; justify-content: space-between; gap: 10px;">
           		 <div class="group" style="display: inline-block;">
                		<label class="group__label" for="codeInput">Code Input</label>
                		<div id="codeInput" class-"form-group__input" style="width: 450px; border: 1px solid #ccc;"></div>
                		<button class="submit_btn" onclick="runCode()">Run Code</button>
            		</div>
  			<div class="form-group" style="display: inline-block;">
   				<label class="form-group__label" for="outputFrame">Output</label>
    				<iframe id="outputFrame" class="form-group__input" style="background: white; height: 400px; width: 100%; border: 1px solid #ccc;"></iframe>
  			</div>
		</div>
	</div>
</div>

<script>
    // Initialize CodeMirror on the div with id 'codeInput'
    const editor = CodeMirror(document.getElementById("codeInput"), {
        mode: "htmlmixed",  // Supports HTML, CSS, and JavaScript in one editor
        theme: "default",   // Choose a dark theme
        lineNumbers: true,  // Enable line numbers
        tabSize: 2,
        indentWithTabs: true,
	matchBrackets: true, // Highlight matching brackets
        indentUnit: 2,
        lineWrapping: true,
        viewportMargin: Infinity, // Makes it grow with content
    });

    // Function to run code and display it in the iframe
    function runCode() {
        const code = editor.getValue();  // Get code from CodeMirror editor
        const iframe = document.getElementById("outputFrame").contentWindow.document;

        // Write the code to the iframe to render it
        iframe.open();
        iframe.write(code);
        iframe.close();
    }
</script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/js/progress-bar.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js" integrity="sha512-79j1YQOJuI8mLseq9icSQKT6bLlLtWknKwj1OpJZMdPt2pFBry3vQTt+NZuJw7NSd1pHhZlu0s12Ngqfa371EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
